*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
#mainHeader{
  text-align: center;
  padding: 20px;
  background-color: rgba(19, 23, 58, 0.712);
  width: 100%
}
